{% extends 'catalog/about.html' %}

{% block content %}
    <div class="col-6">
        <div class="card mb-4">
                <div class="card-header">
                <div class="card-title"> Добавление продукта</div>

                <div class="card-body">
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Сохранить продукт</button>

                    <form method="post">
                    {% csrf_token %}
                    {{ version_form.as_p }}
                    <button type="submit" class="btn btn-primary">Создать версию</button>
                    </form>
                        <form>
                </div>
                </div>
        </div>
    </div>
{% endblock %}